<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <% if (workExperiences) { %>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <% workExperiences.forEach(function(workExperience){ %>
        <div>
          <%=workExperience.companyName%>
        </div>
        <% }); %>
    </div>
    <% } %>
</div>